In [2]:
# Import necessary libraries

import pandas as pd

In [6]:
df = pd.read_excel ('GroupLife/GL2011_2012.xlsx', engine='openpyxl')
df.head()

,Unnamed: 0,POLICY NUMBER,MEMBER M'SHIP,RIDER,GENDER,POLICY TYPE,STATUS,LEVEL OF,ANNUAL,RIDER.1,DATE,ISSUE,EFFECTIVE,RENEWAL,EXIT,CAUSE,Unnamed: 16,Unnamed: 17
0,NaN,NaN,NUMBER,NaN,NaN,NaN,NaN,LIFE COVER,OFFICE PREMIUM,ANNUAL PREMIUM,OF BIRTH,DATE,DATE,DATE,DATE,OF EXIT,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,FUNERAL COVER,M,GROUP LIFE,NaN,4068000,9397.08,1200,1980-04-12 00:00:00,2011-06-01 00:00:00,2011-06-01 00:00:00,2012-05-31 00:00:00,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,FUNERAL COVER,F,GROUP LIFE,NaN,3060000,7313.4,1200,1979-01-01 00:00:00,2011-06-01 00:00:00,2011-06-01 00:00:00,2012-05-31 00:00:00,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,FUNERAL COVER,F,GROUP LIFE,NaN,3778776,11789.8,1200,1974-01-01 00:00:00,2011-06-01 00:00:00,2011-06-01 00:00:00,2012-05-31 00:00:00,NaN,NaN,NaN,NaN

In [11]:
# drop Null values
df1 = df.dropna(thresh = 2)
# drop empty columns
df1.dropna(axis = "columns", thresh = 10, inplace= True)
# Rename all the columns
df1.set_axis(['Name_of_Scheme', 'Policy_Number', 
              'Membership_Number', 'Rider', 'Gender', 'Policy_Type', 
              'Status', 'Level_of_Life_Cover', 'Annual_Office_Premium', 
              'Rider_Annual_Premium', 'Date_of_Birth', 'Issue_Date', 'Effective_Date', 
              'Renewal_Date', 'Exit_Date', 'Cause_of_Exit'], axis=1, inplace= True)
# Convert Date Columns into dates and treat the rest of the values as null
# df1[['Date of Birth'], ['Issue Date'], ['Effective Date'], ['Renewal Date'], ['Exit Date']] = df1[['Date of Birth', 'Issue Date', 'Effective Date', 
#      'Renewal Date', 'Exit Date']].apply(pd.to_datetime, format='%y%m%d %H:%M:%S, errors = 'coerce')
df1.iloc[:, 10:15]= df1.iloc[:, 10:15].apply(pd.to_datetime,format='%y%m%d %H:%M:%S', errors = 'coerce')

/usr/lib/python3/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/home/olekaroi/.local/lib/python3.6/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/usr/lib/python3/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [12]:
df1.head(20)

,Name_of_Scheme,Policy_Number,Membership_Number,Rider,Gender,Policy_Type,Status,Level_of_Life_Cover,Annual_Office_Premium,Rider_Annual_Premium,Date_of_Birth,Issue_Date,Effective_Date,Renewal_Date,Exit_Date,Cause_of_Exit
0,NaN,NaN,NUMBER,NaN,NaN,NaN,NaN,LIFE COVER,OFFICE PREMIUM,ANNUAL PREMIUM,None,None,None,None,None,OF EXIT
2,NaN,NaN,NaN,FUNERAL COVER,M,GROUP LIFE,NaN,4068000,9397.08,1200,None,None,None,None,None,NaN
3,NaN,NaN,NaN,FUNERAL COVER,F,GROUP LIFE,NaN,3060000,7313.4,1200,None,None,None,None,None,NaN
4,NaN,NaN,NaN,FUNERAL COVER,F,GROUP LIFE,NaN,3778776,11789.8,1200,None,None,None,None,None,NaN
5,NaN,NaN,NaN,FUNERAL COVER,F,GROUP LIFE,NaN,2786400,13430.4,1200,None,None,None,None,None,NaN
6,NaN,NaN,NaN,FUNERAL COVER,M,GROUP LIFE,NaN,1168344,5631.42,1200,None,None,None,None,None,NaN
7,NaN,NaN,NaN,FUNERAL COVER,M,GROUP LIFE,NaN,9720000,32367.6,1200,None,None,None,None,None,NaN
8,NaN,NaN,NaN,FUNERAL COVER,M,GROUP LIFE,NaN,9288000,136719,1200,None,None,None,None,None,NaN
9,NaN,NaN,NaN,FUNERAL COVER,F,GROUP LIFE,NaN,2621304,6055.21,1200,None,None,None,None,None,NaN
10,NaN,NaN,NaN,FUNERAL COVER,M,GROUP LIFE,NaN,1080000,1935,1000,None,None,None,None,None,NaN
11,NaN,NaN,NaN,FUNERAL COVER,F,GROUP LIFE,NaN,3326400,25280.6,1200,None,None,None,None,None,NaN
12,NaN,NaN,NaN,FUNERAL COVER,F,GROUP LIFE,NaN,10927764,34094.6,1200,None,None,None,None,None,NaN
13,NaN,NaN,NaN,FUNERAL COVER,M,GROUP LIFE,NaN,540000,1387.8,1000,None,None,None,None,None,NaN
14,NaN,NaN,NaN,FUNERAL COVER,M,GROUP LIFE,NaN,7200000,16632,1200,None,None,None,None,None,NaN
15,NaN,NaN,NaN,FUNERAL COVER,F,GROUP LIFE,NaN,3003876,6458.33,1200,None,None,None,None,None,NaN
16,NaN,NaN,NaN,FUNERAL COVER,M,GROUP LIFE,NaN,18901440,251011,1200,None,None,None,None,None,NaN
17,NaN,NaN,NaN,FUNERAL COVER,M,GROUP LIFE,NaN,8410860,46427.9,1200,None,None,None,None,None,NaN
18,NaN,NaN,NaN,FUNERAL COVER,M,GROUP LIFE,NaN,484560,896.436,0,None,None,None,None,None,NaN
19,NaN,NaN,NaN,FUNERAL COVER,F,GROUP LIFE,NaN,1299780,2404.59,0,None,None,None,None,None,NaN
20,NaN,NaN,NaN,FUNERAL COVER,M,GROUP LIFE,NaN,465408,861.005,0,None,None,None,None,None,NaN

In [9]:
df.head()

,Unnamed: 0,POLICY NUMBER,MEMBER M'SHIP,RIDER,GENDER,POLICY TYPE,STATUS,LEVEL OF,ANNUAL,RIDER.1,DATE,ISSUE,EFFECTIVE,RENEWAL,EXIT,CAUSE,Unnamed: 16,Unnamed: 17
0,NaN,NaN,NUMBER,NaN,NaN,NaN,NaN,LIFE COVER,OFFICE PREMIUM,ANNUAL PREMIUM,OF BIRTH,DATE,DATE,DATE,DATE,OF EXIT,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,FUNERAL COVER,M,GROUP LIFE,NaN,4068000,9397.08,1200,1980-04-12 00:00:00,2011-06-01 00:00:00,2011-06-01 00:00:00,2012-05-31 00:00:00,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,FUNERAL COVER,F,GROUP LIFE,NaN,3060000,7313.4,1200,1979-01-01 00:00:00,2011-06-01 00:00:00,2011-06-01 00:00:00,2012-05-31 00:00:00,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,FUNERAL COVER,F,GROUP LIFE,NaN,3778776,11789.8,1200,1974-01-01 00:00:00,2011-06-01 00:00:00,2011-06-01 00:00:00,2012-05-31 00:00:00,NaN,NaN,NaN,NaN

In [10]:
import re
trim = re.compile(r'[^\d.,]+')
mystring = 'USD 10.99'
result = trim.sub('', mystring)
print(result)

10.99

In [20]:
# import re
# trim = re.compile(r'[^\d.,]+')
# mystring = str(df1['Level_of_Life_Cover'])
# result = trim.sub('', mystring)
# result


import re
df1['Level_of_Life_Cover'] = re.compile(r'[^\d.,]+').sub('', str(df1['Level_of_Life_Cover']))
df1['Level_of_Life_Cover']= df1['Level_of_Life_Cover'].apply(pd.to_numeric, downcast = 'signed', errors='coerce')
df1

/usr/lib/python3/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/lib/python3/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

,Name_of_Scheme,Policy_Number,Membership_Number,Rider,Gender,Policy_Type,Status,Level_of_Life_Cover,Annual_Office_Premium,Rider_Annual_Premium,Date_of_Birth,Issue_Date,Effective_Date,Renewal_Date,Exit_Date,Cause_of_Exit
0,NaN,NaN,NUMBER,NaN,NaN,NaN,NaN,NaN,OFFICE PREMIUM,ANNUAL PREMIUM,None,None,None,None,None,OF EXIT
2,NaN,NaN,NaN,FUNERAL COVER,M,GROUP LIFE,NaN,NaN,9397.08,1200,None,None,None,None,None,NaN
3,NaN,NaN,NaN,FUNERAL COVER,F,GROUP LIFE,NaN,NaN,7313.4,1200,None,None,None,None,None,NaN
4,NaN,NaN,NaN,FUNERAL COVER,F,GROUP LIFE,NaN,NaN,11789.8,1200,None,None,None,None,None,NaN
5,NaN,NaN,NaN,FUNERAL COVER,F,GROUP LIFE,NaN,NaN,13430.4,1200,None,None,None,None,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252465,NaN,NaN,307,NaN,M,NaN,NaN,NaN,10620,NaN,None,None,None,None,None,NaN
252466,NaN,NaN,308,NaN,M,NaN,NaN,NaN,3186,NaN,None,None,None,None,None,NaN
252467,NaN,NaN,309,NaN,M,NaN,NaN,NaN,2832,NaN,None,None,None,None,None,NaN
252468,NaN,NaN,243,NaN,M,NaN,NaN,NaN,2478,NaN,None,None,None,None,None,NaN
252469,NaN,NaN,301,NaN,M,NaN,NaN,NaN,1062,NaN,None,None,None,None,None,NaN

In [16]:
df1['Level_of_Life_Cover'].dtype

TypeError: 'numpy.dtype' object is not callable